/*Utilities*/

@import "base/swatch";
@import "utils/variables";
@import "utils/media";
@import "utils/mixins";
@import "utils/classes";
@import "utils/accessibility";
@import "utils/animations";

/*Vendors*/

// @import "vendors/normalize";

/*Vendor Override Styles*/

// @import "vendor-override/normalize-override";

/*Base*/

@import "base/global";
@import "base/typography";
@import "themes/default-theme";

/*Layout*/

@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";

/*Components*/

@import "components/buttons";

/*Pages*/

@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/404";
