%absolute-center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

%horizontally-center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

%vertically-center {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}


/*  Position Absolute, Fixed full
Useful when using masks */

%full-size-abs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}