/* Add Custom quotes to blockquote
Useful for testimonials or highlighted text in an article */

%add-quotes {
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}