/* Remove iOs Safari tap highlight 
Source: CSS Tricks
Reference: https: //css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
*/

@mixin remove-ios-highlight {
    input, textarea, button, select, label, a {
        -webkit-tap-highlight-color: transparent;
    }
}