/* Responsive Video 
Source: Twitter Bootstrap */

// 16:9
%video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0 none;
    }
}

// 4:3
%video-responsive {
    position: relative;
    padding-bottom: 75%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0 none;
    }
}


/*  Responsive Images 
Source: CSS Tricks */

img {
    max-width: 100%;
    height: auto;
}


/* Responsive Toggles for use within SASS
Adapted from Twitter Bootstrap */

// Desktop Only
%desktop-only {
    display: block;
    @include respond(tablet) {
        display: none !important;
    }
}

// Hidden on Desktop
%hidden-lg {
    display: none;
    @include respond(tablet) {
        display: block !important;
    }
}

// Hidden on Desktop
%hidden-lg {
    display: none;
    @include respond(tablet) {
        display: block;
    }
}

// Hidden on all Tablets, Mobile
%hidden-tablet-all {
    @include respond(tablet-all) {
        display: none !important;
    }
}

// Visible on all Tablets, Mobile
%tablet-all-only {
    display: none;
    @include respond(tablet-all) {
        display: block;
    }
} // Hidden only Tablets, Phones
%hidden-tablet {
    @include respond(tablet) {
        display: none;
    }
}

// Visible on Tablets, Mobile
%tablet-only {
    display: none;
    @include respond(tablet-all) {
        display: block;
    }
    @include respond(screen-xs) {
        display: none;
    }
}

%handhelds-only {
    display: none;
    @include respond(tablet-all) {
        display: block;
    }
}

// Visible on All Small Screens
%sm-only {
    display: none;
    @include respond(screen-sm) {
        display: block;
    }
}

// Visible on Mobile
%xs-only {
    display: none;
    @include respond(screen-xs) {
        display: block;
    }
}

// Hidden on Mobile
%hidden-xs {
    @include respond(screen-xs) {
        display: none !important;
    }
}