@mixin placeholder($color, $font-weight: 400) {
     ::-webkit-input-placeholder {
        color: $color;
        font-weight: $font-weight;
    }
     :-moz-placeholder {
        color: $color;
        font-weight: $font-weight;
    }
     ::-moz-placeholder {
        color: $color;
        font-weight: $font-weight;
    }
     :-ms-input-placeholder {
        color: $color;
        font-weight: $font-weight;
    }
}