@mixin selection($bgcolor, $color) {
     ::-moz-selection {
        background-color: $bgcolor;
        color: $color;
    }
     ::selection {
        background-color: $bgcolor;
        color: $color;
    }
}