/*Fonts*/

$base-font-size: $f16;
$base-font-family: '';
$base-font-weight: 400;

/*Colors*/

$base-color: $black;
$base-bg-color: $white;
$link-color: '';
$border-color: '';
$box-shadow-color: '';

/*Dimensions*/

$border-width: 1px;
$base-border-radius: '';