/*Fonts*/

$base-font-size: '';
$base-font-family: '';
$base-font-weight: 400;

/*Colors*/

$base-color: '';
$base-bg-color: '';
$link-color: '';
$border-color: '';
$box-shadow-color: '';

/*Dimensions*/

$border-width: 1px;
$base-border-radius: '';