// ***************************************	Center Alignment	***************************************//
%absolute-center{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
%horizontally-center{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
%vertically-center{
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

// Position Absolute, Fixed full
%full-size-abs{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// ***************************************	List Styles	***************************************//
// ul > li
%list-inline{
	display: block;
	text-align: left;
	padding-left: 0;

	& > li {
		display: inline-block;
		list-style: none;	

		& > a{
			display: block;
		}
	}
}

%list-block{
	display: block;
	text-align: left;
	padding-left: 0;

	& > li {
		display: block;
		list-style: none;	

		& > a{
			display: block;
		}
	}
}

// Create Table from markup
%tablify{
	display: table;

	& > *{
		display: table-row;

		& > *{
			display: table-cell;
		}
	}
}

// Custom Table styling with vertical centering
%tablize{
	display: table;
	width: 100%;
	height: 100%;	

	& > *{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
}

// ***************************************	PRINTER ONLY STYLES	***************************************//
// Printer Only
%pr-only{
	display: none;
}

// ***************************************	Responsive Images	***************************************//
// Responsive Images
img{
	max-width: 100%;
	height: auto;
}

// ***************************************	Form Elements	***************************************//
textarea{
	resize: none;
}


// ***************************************	Unset HTML Select	***************************************//
%unset-select{
	appearance: none;
	outline: none;	
	border: 0px none;

	&::-ms-expand{
		display:none;
	}
}

// ***************************************	SVG	***************************************//
// SVG Container Class
svg.ico{
	display: inline-block;	
	vertical-align: top;
	position: absolute;	
	transition: .35s ease-in;
}

// ***************************************	CLEARFIXES	***************************************//
.clearfix{
	clear: both !important;
	display: block !important;
}
.clearfix-lg{
	clear: both !important;
	display: block !important;

	@include respond(tablet){
		display: none !important;		
	}
}
.clearfix-wide{
	clear: both !important;
	display: block !important;

	@include respond(screen-xs){
		display: none !important;		
	}
}
.clearfix-tablet{
	display: none !important;

	@include respond(tablet){
		display: block !important;
		clear: both !important;
	}
	@include respond(screen-xs){
		display: none !important;		
	}
}
.clearfix-sm{
	display: none !important;

	@include respond(screen-sm){
		display: block !important;
		clear: both !important;
	}
	@include respond(screen-xs){
		display: none !important;
	}
}
.clearfix-xs{
	display: none !important;

	@include respond(screen-xs){
		display: block !important;
		clear: both !important;
	}
}

// ***************************************	Overflow: Hidden ALTERNATIVE	***************************************//
%clear{
	&:after{
		// IE8+
		content: "";
		display: table;
		clear: both;	
		// IE6+
		/* visibility: hidden;	
		font-size: 0;
		content: " ";
		clear: both;
		height: 0; */
	}
}

%clear-ie{
	&:after{	
		// IE6+
		visibility: hidden;	
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
// https://css-tricks.com/snippets/css/clear-fix/

// ***************************************	Responsive Toggles	***************************************//
.hidden{
	display: none;
}

// Desktop Only
%desktop-only{
	display: block;

	@include respond(tablet){
		display: none !important;
	}
}

// Hidden on Desktop
%hidden-lg{
	display: none;

	@include respond(tablet){
		display: block !important;
	}
}

// Hidden on Desktop
%hidden-lg{
	display: none;

	@include respond(tablet){
		display: block;
	}
}

// Hidden on all Tablets, Mobile
%hidden-tablet-all{
	@include respond(tablet-all){
		display: none !important;
	}
}

// Visible on all Tablets, Mobile
%tablet-all-only{
	display: none;

	@include respond(tablet-all){
		display: block;
	}
}

   // Hidden only Tablets, Phones
%hidden-tablet{	
	@include respond(tablet){
		display: none;
	}
}

// Visible on Tablets, Mobile
%tablet-only{
	display: none;

	@include respond(tablet-all){
		display: block;
	}
	@include respond(screen-xs){
		display: none;
	}
}

%handhelds-only{
	display: none;

	@include respond(tablet-all){
		display: block;
	}
}

// Visible on All Small Screens
%sm-only{
	display: none;

	@include respond(screen-sm){
		display: block;
	}
}

// Visible on Mobile
%xs-only{
	display: none;

	@include respond(screen-xs){
		display: block;
	}
}

// Hidden on Mobile
%hidden-xs{
	@include respond(screen-xs){
		display: none !important;
	}
}

// ***************************************	Text Styles	***************************************//
p, ol, ul, h1, h2, h3{
	&:empty{
		display: none !important;
	}
}

// ***************************************	Unset HTML Select	***************************************//
%unset-select{
	appearance: none;
	outline: none;	
	border: 0px none;

	&::-ms-expand{
		display:none;
	}
}

// ***************************************	Responsive Video	***************************************//
%video-responsive {
	position: relative;
	padding-bottom: 56.25%; // 16:9
	//padding-bottom: 75%; // 4:3
	padding-top: 25px;
	height: 0;
	// display: block;
	// overflow: hidden;

	 iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0px none;
	}
}

// ***************************************	Blockquote Styling	***************************************//
%add-quotes{
	quotes: "\201C""\201D""\2018""\2019";

	&:before{
		content: open-quote;
	}
	&:after{
		content: close-quote;
	}	
}

